In [1]:
tupla = (1,2,3,4)
print(tupla)

(1, 2, 3, 4)

In [2]:
from typing import NamedTuple
Persona = NamedTuple("persona", [("dni",str), ("nombre",str), ("apellidos",str), ("edad",int), ("localidad",str), ("provincia",str)])

In [3]:
p1 = Persona('12345678A','JUAN','AFAN POSTIGO',22,'SEVILLA','SEVILLA')
p2 = Persona('12345678B','NICOLAS','AGUILAR SAUCEDO',20,'DOS HERMANAS','SEVILLA')
p3 = Persona('12345678C','LUCAS','ACEJO GARCÍA',20,'UTRERA','SEVILLA')
p4 = Persona('12345678D','CLAUDIA','ÁLVAREZ GARCÍA',21,'VISO DEL ALCOR','SEVILLA')
p5 = Persona('12345678E','PAULA','ALBENDÍN CAMINO',19,'TOMARES','SEVILLA')
p6 = Persona('12345678F','ANA','LOBATO ÁLVAREZ',18,'PUNTA UMBRÍA','HUELVA')
p7 = Persona('12345678G','ANTONIO','DÍAZ NARANJO',18,'CHIPIONA','CADIZ')
p8 = Persona('12345678H','SOFÍA','GUERRERO CANTARERO',20,'CHIPIONA','CADIZ')

In [5]:
print(p4.edad)

21

In [6]:
for i in range(1,9):
    print(eval("p"+str(i)))

persona(dni='12345678A', nombre='JUAN', apellidos='AFAN POSTIGO', edad=22, localidad='SEVILLA', provincia='SEVILLA')
persona(dni='12345678B', nombre='NICOLAS', apellidos='AGUILAR SAUCEDO', edad=20, localidad='DOS HERMANAS', provincia='SEVILLA')
persona(dni='12345678C', nombre='LUCAS', apellidos='ACEJO GARCÍA', edad=20, localidad='UTRERA', provincia='SEVILLA')
persona(dni='12345678D', nombre='CLAUDIA', apellidos='ÁLVAREZ GARCÍA', edad=21, localidad='VISO DEL ALCOR', provincia='SEVILLA')
persona(dni='12345678E', nombre='PAULA', apellidos='ALBENDÍN CAMINO', edad=19, localidad='TOMARES', provincia='SEVILLA')
persona(dni='12345678F', nombre='ANA', apellidos='LOBATO ÁLVAREZ', edad=18, localidad='PUNTA UMBRÍA', provincia='HUELVA')
persona(dni='12345678G', nombre='ANTONIO', apellidos='DÍAZ NARANJO', edad=18, localidad='CHIPIONA', provincia='CADIZ')
persona(dni='12345678H', nombre='SOFÍA', apellidos='GUERRERO CANTARERO', edad=20, localidad='CHIPIONA', provincia='CADIZ')

In [8]:
mi_lista = [p1,p2,p3,p4,p5,p6,p7,p8]
for persona in mi_lista:
    print(persona)

persona(dni='12345678A', nombre='JUAN', apellidos='AFAN POSTIGO', edad=22, localidad='SEVILLA', provincia='SEVILLA')
persona(dni='12345678B', nombre='NICOLAS', apellidos='AGUILAR SAUCEDO', edad=20, localidad='DOS HERMANAS', provincia='SEVILLA')
persona(dni='12345678C', nombre='LUCAS', apellidos='ACEJO GARCÍA', edad=20, localidad='UTRERA', provincia='SEVILLA')
persona(dni='12345678D', nombre='CLAUDIA', apellidos='ÁLVAREZ GARCÍA', edad=21, localidad='VISO DEL ALCOR', provincia='SEVILLA')
persona(dni='12345678E', nombre='PAULA', apellidos='ALBENDÍN CAMINO', edad=19, localidad='TOMARES', provincia='SEVILLA')
persona(dni='12345678F', nombre='ANA', apellidos='LOBATO ÁLVAREZ', edad=18, localidad='PUNTA UMBRÍA', provincia='HUELVA')
persona(dni='12345678G', nombre='ANTONIO', apellidos='DÍAZ NARANJO', edad=18, localidad='CHIPIONA', provincia='CADIZ')
persona(dni='12345678H', nombre='SOFÍA', apellidos='GUERRERO CANTARERO', edad=20, localidad='CHIPIONA', provincia='CADIZ')

In [9]:
for persona in mi_lista:
    print(persona.nombre, "->", persona.edad)

JUAN -> 22
NICOLAS -> 20
LUCAS -> 20
CLAUDIA -> 21
PAULA -> 19
ANA -> 18
ANTONIO -> 18
SOFÍA -> 20

In [19]:
mi_lista.pop(4)
mi_lista.remove(p1)
for persona in mi_lista:
    print(persona)

persona(dni='12345678B', nombre='NICOLAS', apellidos='AGUILAR SAUCEDO', edad=20, localidad='DOS HERMANAS', provincia='SEVILLA')
persona(dni='12345678C', nombre='LUCAS', apellidos='ACEJO GARCÍA', edad=20, localidad='UTRERA', provincia='SEVILLA')
persona(dni='12345678D', nombre='CLAUDIA', apellidos='ÁLVAREZ GARCÍA', edad=21, localidad='VISO DEL ALCOR', provincia='SEVILLA')
persona(dni='12345678H', nombre='SOFÍA', apellidos='GUERRERO CANTARERO', edad=20, localidad='CHIPIONA', provincia='CADIZ')

In [17]:
from datetime import datetime, date, time, timedelta

nací=date(2003,7,15) #(donde a, m y d son los de tu fecha de nacimiento)
hoy=datetime.now().date()
print("Como nací",nací.strftime("%d/%m/%Y"),"y hoy es",hoy,"he vivido",(hoy-nací)/timedelta(hours=1))

Como nací 15/07/2003 y hoy es 2024-10-11 he vivido 186216.0

In [31]:
print(f"{7.5:010.3f}")

000007.500

In [5]:
mi_lista1 = [4,2,10,12,8,-10]
mi_lista2 = [4,2,17,11,8,-10]

print("mi_lista1")
todos_pares = all(map(lambda a: a%2 == 0,mi_lista1))
print("Todos pares:",todos_pares)
alguno_múltiplo_3 = any(map(lambda a: a%3 == 0,mi_lista1))
print("Alguno múltiplo de 3: ",alguno_múltiplo_3)

print("\nmi_lista2")
todos_pares = all(map(lambda a: a%2 == 0,mi_lista2))
print("Todos pares:",todos_pares)
alguno_múltiplo_3 = any(map(lambda a: a%3 == 0,mi_lista2))
print("Alguno múltiplo de 3: ",alguno_múltiplo_3)

mi_lista1
Todos pares: True
Alguno múltiplo de 3:  True

mi_lista2
Todos pares: False
Alguno múltiplo de 3:  False